

    <form id="form_ventas">
        
        <div  class="row  mt-0 g-3 ct">
            
            <div class="row  mt-0 g-3 ct">
                
                <div class="col-8 ct">
                    <div class="row ct">                                

                        <label class="form-label  ct">Numero de factura</label>

                        <div class="col-md-2 text-start ct">                                  
                        <input type="text" class="form-control c2" 
                                id="establecimiento"
                                name="establecimiento"
                                disabled>
                        </div>                                


                        <div class="col-md-2 text-start ct">                                    
                            <input type="text" class="form-control c2" 
                                id="punto_expedicion"
                                name="punto_expedicion"
                                disabled>
                        </div>                                


                        <div class="col-md-5 text-start ct">                                
                            <input type="text" class="form-control c2" 
                                id="factura_numero"
                                name="factura_numero"
                                disabled>
                        </div>                                             
                        
                    </div>
                </div>
                
                
                <div class="col-4 ct">
                    <div class="row ct">
                        
                        <div class="col-md-10 text-start ct">        
                            <label for="fecha" class="form-label  ct">Fecha</label>
                            <input type="date" class="form-control c2" 
                                id="fecha"
                                name="fecha">
                        </div>                                             
                        
                    </div>  
                </div>
                
            </div>
            
            
            
            <div class="row  mt-0 g-3 ct">
                
                
                <div class="col-md-2 text-start ct">
                    <label for="venta_naturaleza_receptor" 
                        class="form-label  ct">Nat receptor</label>
                    <select class="form-control"                                             
                            id="venta_naturaleza_receptor"
                            name="naturaleza_receptor">
                    </select>                                  
                </div>                                    



                <input type="hidden"                                         
                    name="cliente_id"
                    id="cliente_id">


            
                <div class="col-md-3 text-start ct" id="bloque_ruc">
                <label for="venta_ruc" class="form-label  ct">Ruc</label>
                <input type="text" 
                        class="form-control num" 
                        name="ruc"
                        id="venta_ruc"                                            
                        >
                <!-- <small class="opacity-75 ct">Enter para filtrar</small> -->  
                </div>                                
                

                    
                <div class="col-md-1 text-start ct" id="bloque_digitov">
                    <label for="venta_digitov" class="form-label  ct">DV</label>
                    <input type="text" 
                        class="form-control num" 
                        name="digitov"
                        id="venta_digitov"
                        disabled
                        >
                </div>                                       


                <div class="col-md-3 text-start ct" id="bloque_numero_documento">
                    <label for="venta_numero_documento" class="form-label  ct">Numero doc.</label>
                    <input type="text" 
                        class="form-control num" 
                        name="numero_documento"
                        id="venta_numero_documento"
                        >
                </div>    


                
                <div class="col-md-6 text-start ct" id="div_venta_razon_social">
                    <label for="venta_razon_social" 
                        class="form-label  ct">Razon social</label>
                    <select class="form-control"                                             
                            id="venta_razon_social"
                            name="razon_social">
                    </select>                                  
                </div>
                
            </div>
            
        </div>

    </form>
