<div class="p-2 border row mx-0" data-linea="1">
                                        
    <div class="ps-0 col-4">

        <div class="ps-0 col-1">
            boton
        </div>              


        <div class="ps-0 col-12">
            <select class="form-control" id="linea1" name="linea1">
            </select>
        </div>              
    </div>


    <div class="row mx-0 px-0 col-4">

        <div class="ps-0 col-3">
            <input class="form-control form-control-sm" type="text">
        </div>

        <div class="ps-0 col-3">
            <input class="form-control form-control-sm" type="text">
        </div>
    
        <div class="ps-0 col-3">
            <input class="form-control form-control-sm" type="text">
        </div>

        <div class="ps-0 col-3">
            <input class="form-control form-control-sm" type="text">
        </div>                                        

    </div>

    <div class="row mx-0 px-0 col-4">
        <div class="ps-0 col-4">
            <input class="form-control form-control-sm" type="text">
        </div>
        <div class="ps-0 col-4">
            <input class="form-control form-control-sm" type="text">
        </div>
        <div class="ps-0 col-4">
            <input class="form-control form-control-sm" type="text">
        </div>
    </div>                                    


</div>