<div class="container-fluid">
    <div class="row">

        <div class="col-xl-12">

            <div class="card">
                <div class="card-body">
            
            
                        <h5 class="fw-bold ct">Facturaciones</h5>
                    
                                               
                        <div class="d-grid gap-2 d-md-flex justify-content-md-start my-4 ct">
                          <button 
                              id ="venta_nuevo"
                              class="btn btn-primary me-md-2" 
                              type="button"
                              >Nuevo</button>                          
                        </div>

                                               
                        <div class="tabla-contenedor">

                        <table class="table table-hover" id="venta-tabla" >
                            <thead>                            
                                <tr>
                                    
                                    <th>Id</th>
                                    <th>Fecha emision</th>
                                    <th>Cliente</th>
                                    <th>Documento</th>
                                    <th>Tipo</th>
                                
                                    <th>Exenta</th>
                                    <th>5%</th>
                                    <th>10%</th>
                                    <th>Sub-total</th>
                                
                                </tr>
                            </thead>
                            
                            <tbody id="venta-tb">
                            </tbody>
                            
                            <tfoot>
                              <tr>
                              </tr>
                            </tfoot>                           

                        </table>
                        </div>
     
                        
                        
                        <div id="venta_paginacion" class="pagination ct">                            
                            <span></span>
                        </div>
                        
                        
                        
            
                </div>
            </div>
            

        </div>


    </div>
</div>    


