

/* reset css */


/*
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline
}
*/



/*article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block }*/

/*body { line-height: 1 }*/

  ol, ul { list-style: none }  

/*blockquote, q { quotes: none }*/
/*
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none
}
*/
/*
table {
  border-collapse: collapse;
  border-spacing: 0
}
*/

/*
body {
  font: 100% "roboto", "Trebuchet MS", sans-serif;
  background-color:#EF476F;
}
*/

a { text-decoration: none; }


/**
 * Hidden fallback
 */


/**
 * Styling navigation
 */

 /*
header {
  margin-right: auto;
  margin-left: auto;
  max-width: 22.5rem;
  margin-top:150px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.25);
}
*/

/**
 * Styling top level items
 */



.navside a, .navside label {
  display: block;

  padding: .85rem;
  padding: .5rem;
  padding-left: 1rem;


  color: #fff;
  color: rgb(189, 195, 199) ;

  /*color: #95a5a6!important;*/
/*
  background-color: #151515;  
  box-shadow: inset 0 -1px #1d1d1d;
*/


  -webkit-transition: all .25s ease-in;
  transition: all .25s ease-in;


}



.navside a:focus, .navside a:hover, .navside label:focus, .navside label:hover {

  color:rgba(255, 255, 255, 0.5);
  color:white
/*  background: #030303; */
}


.navside label { cursor: pointer; }

/**
 * Styling first level lists items
 */

.group-list a, .group-list label {
  padding-left: 1.5rem;
  /*
  background: #252525;
  box-shadow: inset 0 -1px #373737;
  */
}

.group-list a:focus, .group-list a:hover, .group-list label:focus, .group-list label:hover 
{ color:white }


/*
.group-list a:focus, .group-list a:hover, .group-list label:focus, .group-list label:hover { background: #131313; }
*/

/**
 * Styling second level list items
 */

.sub-group-list a, .sub-group-list label {
  padding-left: 2rem;
  /*
  background: #353535;
  box-shadow: inset 0 -1px #474747;
  */
}

.sub-group-list a:focus, .sub-group-list a:hover, .sub-group-list label:focus, .sub-group-list label:hover 
{ color: white; }


/*
.sub-group-list a:focus, .sub-group-list a:hover, .sub-group-list label:focus, .sub-group-list label:hover { background: #232323; }
*/

/**
 * Styling third level list items
 */

.sub-sub-group-list a, .sub-sub-group-list label {
  padding-left: 2.5rem;
  /*
  background: #454545;
  box-shadow: inset 0 -1px #575757;
  */
}

.sub-sub-group-list a:focus, .sub-sub-group-list a:hover, .sub-sub-group-list label:focus, .sub-sub-group-list label:hover 
{ color: white; }


/*
.sub-sub-group-list a:focus, .sub-sub-group-list a:hover, .sub-sub-group-list label:focus, .sub-sub-group-list label:hover { background: #333333; }
*/

/**
 * Hide nested lists
 */


 
.group-list, .sub-group-list, .sub-sub-group-list {
  height: 100%;
  max-height: 0;
  overflow: hidden;
  
  -webkit-transition: max-height .25s ease-in-out;
  transition: max-height .25s ease-in-out;
  
  padding-left: 0px;
}




.nav__list{
  padding-left: 0px;
}



/* reset the height when checkbox is checked */
.nav__list input[type=checkbox]:checked + label + ul { 
max-height: 1000px; }



/**
 * Rotating chevron icon
 */


 
label > span {
  float: right;  
  -webkit-transition: -webkit-transform .25s ease;
  transition: transform .25s ease;
  
}


.nav__list input[type=checkbox]:checked + label > span {  
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  
}

