<div class="navside">

    <ul class="nav__list">

        <li><a href="#" data-section="mn00">Inicio</a></li>

        <li>
            <input id="group-1" type="checkbox" hidden />
            <label for="group-1"><span class="fa fa-angle-right color2"></span>Configuracion</label>
                <ul class="group-list">


                    <input id="n2-sifen" type="checkbox" hidden />
                    <label for="n2-sifen"><span class="fa fa-angle-right color2"></span>Sifen</label>
                    <ul class="sub-group-list">
                        <li><a href="#" data-section="mn_emi">Emisor</a></li>
                    </ul>                    
                    
                </ul>
        </li>
        
        
        <li>
            <input id="n1-venta" type="checkbox" hidden />
            <label for="n1-venta"><span class="fa fa-angle-right color2"></span>Ventas</label>
                <ul class="group-list">
                    <li><a href="#" data-section="mn_fac">Facturacion</a></li>
                    <li><a href="#" data-section="mn_cli">Clientes</a></li>
                    <li><a href="#" data-section="mn_pro">Productos</a></li>
                    
                    
                </ul>
        </li>        
        
    </ul>

</div>                      