<div class="container-fluid">
    <div class="row">

        <div class="col-xl-10">

            <div class="card">
                <div class="card-body">
            
            
                        <h5 class="ct">Clientes</h5>
                    
                                               
                        <div class="d-grid gap-2 d-md-flex justify-content-md-start my-4 ct">
                          <button 
                              id ="cliente_nuevo"
                              class="btn btn-primary me-md-2" 
                              type="button"
                              >Nuevo</button>                          
                        </div>

                                               
                        <div class="tabla-contenedor">

                        <table class="table table-hover" id="cliente-tabla" >
                            <thead>                            
                                <tr>
                                    <th>Cliente</th>
                                    <th>Tipo contribuyente</th>
                                    <th>Ruc</th>
                                    <th>Razon social</th>
                                </tr>
                            </thead>
                            
                            <tbody id="cliente-tb">
                            </tbody>
                            
                            <tfoot>
                              <tr>
                              </tr>
                            </tfoot>                           

                        </table>
                        </div>
     
                        
                        
                        <div id="cliente_paginacion" class="pagination ct">                            
                            <span></span>
                        </div>
                        
                        
                        
            
                </div>
            </div>
            

        </div>


    </div>
</div>    


