<div class="container-fluid">
    <div class="row">

        <div class="col-xl-10">

            <div class="card">
                <div class="card-body">
            
            
                        <h5 class="ct">Productos</h5>
                    
                                               
                        <div class="d-grid gap-2 d-md-flex justify-content-md-start my-4 ct">
                          <button 
                              id ="producto_nuevo"
                              class="btn btn-primary me-md-2" 
                              type="button"
                              >Nuevo</button>                          
                        </div>

                                               
                        <div class="tabla-contenedor">
                        <table class="table table-hover" id="producto-tabla" >
                            <thead>                            
                                <tr>
                                    <th>producto</th>
                                    <th>descripcion</th>
                                    <th>precio unit</th>
                                    <th>medida</th>
                                    <th>tasa iva</th>
                                    
                                </tr>
                            </thead>
                            
                            <tbody id="producto-tb">
                            </tbody>
                            
                            <tfoot>
                              <tr>
                              </tr>
                            </tfoot>                            

                        </table>
                        </div>

                        <div id="producto_paginacion" class="pagination ct"  >        
                            <span></span>                    
                        </div>
                        
                        
                        
            
                </div>
            </div>
            

        </div>


    </div>
</div>    


